*{
    box-sizing: border-box;
    font-family: Inter;
}
body {
    width: 100%;
    height: 832px;
    background-color: #1A1A1A;
}
.card-container {
    position: absolute;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.To-do-card {
    margin-left: 200px;
    border: #333333 1px solid;
    position: absolute;
    width: 280px;
    height: 672px;
    min-width: 280px;
    min-height: 672px;
    top: 60px;
    left: 50px;
    padding: 20px 0px 0px 0px;
    gap: 10px;
    border-radius: 12px 12px 12px 12px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #101010;
}
.To-do-card h3 {
    bottom: 615px;
    position: absolute;
    left: 42px;
    width: Fill (200px)px;
    height: Hug (22px)px;
    gap: 0px;
    opacity: 0px;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
#list-container{
    max-width: 280px;;
    position: relative;
    top: 10px;
    overflow-y: scroll;
    overflow-x:hidden;
    max-height: 67vh;
}
#list-container li{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 50px;
    width: 240px;
    height: fit-content;
    text-decoration: none;
    right: 20px;
    padding-left: 25px;
    padding-right: 50px;
    margin-bottom: 25px;
    position: relative;
    background-color: #1A1A1A;
    list-style: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    color: #d9d9d9;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    line-height: 14.52px;
    text-align: justify;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    top: 25px;
    user-select: none;
    cursor: pointer;
    height: Hug (54px)px;
    gap: 20px;
    border-radius: 8px;
    opacity: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.circle{
    align-items: center;
    left: 17px;
    height: 16px;
    width: 16px;
    position: absolute;
    content: "";
    background-image: url(/images/white.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
#task{
    position: absolute;
    height: 200px;
    width: 200px;
    color: aliceblue;
}
#list-container li span{
    display: flex;
    align-items: center;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 215px;
    content: "";
    background-image: url(/images/red-trash-can-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#list-container li::before{
    display: flex;
    left: 10px;
    align-items: center;
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(/images/whiteglow.png);

}

#list-container li.checked{
    color: #555;
    text-decoration: line-through;
}

#list-container li.checked::before{
    background-image: url(/images/green\ checked.png);
}

.editButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    right: 30px;
    height: 16px;
    width: 16px;
    content: "";
    position: absolute;
    background-size:cover ;
    background-image: url(/images/pencil.png);
}

